#
####### requirements.txt #######
#
###### Requirements without Version Specifiers ######
# nose
# mock
# coverage
# yanc
# preggy
numpy>=1.16.0,<1.22.0  # For tensorflow 2.3.1
pandas
matplotlib
click
scikit-learn
imbalanced-learn
vaderSentiment
xgboost
mlxtend
spacy>=2.2.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0.tar.gz#egg=en_core_web_sm
textacy
tensorflow
pytest
tox
