#
####### requirements.txt #######
#
###### Requirements without Version Specifiers ######
nose
mock
coverage
yanc
preggy
Keras
keras-text
spacy
#https://github.com/explosion/spacy-models/releases/download/en_core_web_md-1.2.1/en_core_web_md-1.2.1.tar.gz