####### requirements.txt #######
pandas
matplotlib
click
scikit-learn
imbalanced-learn
vaderSentiment
xgboost
mlxtend
# spacy the model has spacy as dependency
spacy==2.3.7
textacy==0.10.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm
tensorflow
